table {
	border-collapse: collapse;
}

input[type=range]: disabled: : -webkit-slider-runnable-track {
	cursor: not-allowed;
}

input[type=range]::-webkit-slider-runnable-track { 
  cursor: pointer;
}

input[type=range]: disabled::-webkit-slider-thumb{
    visibility: hidden;
}

table thead tr td:not(:last-child) {
	border-top: solid thin #badcff;
}

table thead tr td:not(:last-child),
table tbody tr:last-child td:not(:last-child) {
	border-bottom: solid thin #badcff;
}

table td {
	padding: 3px 4px;
}

table thead td {
	font-weight: bold;
}

table thead tr td:not(:last-child),
table tr:nth-child(even) td:not(:last-child) {
	background: rgb(236, 246, 255);
}

.hidden {
	display: none !important;
}

.box .box-inner {
    position: relative;
    border: 2.5px dashed silver;
    box-sizing: border-box;
	display:inline-block;
}

.box .box-inner input, .box .box-inner button {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.box .box-inner i {
    position: absolute;
	font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .box-inner label {
	position: absolute;
    width: 100%;
}

.box > * {
	width:100%;
}

.box .box-inner {
	height:250px;
}

.box .files-container {
    text-align: left;
    overflow-y: auto;
	max-height:100px;
    margin-top: 10px;
}

/*
.box > * {
	vertical-align:middle;
    height: 250px;
}
*/
.box .box-inner label.top {
    top: 60px;
}

.box .files-container > * {
    width: initial;
    display: inline-block;
    position: relative;
    z-index: 1000;
}

.box .files-container .file {
    margin: 3px;
    padding: 2px;
    border-radius: 3px;
    border: dashed thin black;
    cursor: pointer;
}

.box .files-container .file span {
    font-size: 14px;
	margin-left: 4px;
}

.tooltip {
	position: absolute;
    border: solid thin silver;
    border-radius: 4px;
    pointer-events: none;
    background: #fff;
	opacity: 0;
}

.tooltip > * {
    margin: 5px;
}

.tooltip .tooltip-title {
	font-weight: bold;
}

.tooltip .tooltip-label {
	margin: 5px;
}

.tooltip .tooltip-line > * {
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
	margin-right: 3px;
}

.popup-blocker {
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
}

.popup {
    position: absolute;
    max-width: 300px;
    max-height: 375px;
    min-height: 175px;
    margin: auto;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
	
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 8px #111;
	z-index: 1500;
}

.popup .popup-body {
	overflow-y: auto;
    top: 25px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 10px 15px;
}

.popup .popup-header {
    position: relative;
}

.popup .popup-header .popup-title {
    margin: 10px;
}

.popup .popup-header .close {
    position: absolute;
    right: 5px;
    top: -5px;
    line-height: 28px;
	font-size: 28px;
    background: none;
    box-shadow: none;
}

.typeahead ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;

    width: 100%;
	
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
	
    position: absolute;
    z-index: 5000;
	
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

.typeahead.collapsed ul{
	display: none;
}

.typeahead: not(.collapsed) ul,
.typeahead .input { 
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.typeahead li {
	padding: 3px 8px;
	cursor: pointer;
}

.typeahead li:not(:first-child) {
	border-top: solid thin rgba(0, 0, 0, 0.1);
}

.typeahead li: hover, .typeahead li.active {
	background-color: rgba(70,137,194,1);
	color: #fff;
	font-weight: bold;
}

.typeahead.collapsed .input {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.typeahead .input {
	border: none;
	padding: 0px 8px;
	
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.playback .controls button {
	border-radius: 0px;
}

.playback .controls button:first-child {
	border-radius: 4px 0px 0px 4px;
}

.playback .controls button:last-child {
	border-radius: 0px 4px 4px 0px;
}

.playback button.settings,
.playback button.record {
	border-radius: 4px;
}

.playback .controls button:not(:last-child) {
	border-right: solid thin silver;
}

.playback label {
	font-weight: bold;
    color: #0051A3;
}

.playback > * {
	display: inline-block;
	vertical-align: middle;
}

.playback .slider {
    margin: auto 10px;
    width: 200px;
}

.playback > * {
    margin: auto 5px;
}

.playback .record:not(:disabled) {
	color: #dd4237;
}

.rise-loader ul {
    padding: 0;
    margin: 0;
    border: dotted thin;
}
  
.rise-loader ul li {
    padding: 6px;
    list-style-type: none;
    transition: all .2s ease;
}
  
.wait {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.5);
}

.wait img{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader .box {
    width: 100%;
}

.loader .save {
	margin-top: 10px;
    width: 100%;
}

.loader .options-container {
    text-align: center;
}

.loader .options-container > * {
	display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
}

.loader .options-container .option {
	cursor: pointer;
}

.loader .options-column {	
    width: 50%;
}

.loader .options-column > * {
	display: block;
	text-align: left;
    padding: 1px;
}

.loader .options-column > *:first-child {
    font-size: 1.1em;
    font-weight: bold;
    color: #198CFF;
    padding-bottom: 4px;
}

.loader .options-column > *:not(:first-child) {
    padding-left: 10px;
}

.diagram-container {
	width: 100%;
	height: 100%;
}

.diagram-container svg {
    pointer-events: visible;
	cursor: pointer;
    width: 100%;
    height: 100%;
}

.diagram-container path {
	pointer-events:none;
}
/*
.diagram-container marker.highlighted path {
    fill: #1e94c3 !important;
    stroke: #1e94c3 !important;
}

.diagram-container marker.highlighted.origin path {
    fill: #b36402 !important;
    stroke: #b36402 !important;
}

.diagram-container text.highlighted {
    fill: #1e94c3 !important;
}

.diagram-container text.highlighted.origin {
    fill: #b36402 !important;
}

.diagram-container path.highlighted {
    stroke: #1e94c3 !important;
}

.diagram-container path.highlighted.origin {
    stroke: #b36402 !important;
}

.diagram-container .highlighted:not(text):not(path) {
    stroke: #1e94c3 !important;
    fill: #d6f2fd !important;
}

.diagram-container .highlighted.origin:not(text):not(path) {
    stroke: #b36402 !important;
    fill: #f9e5c1 !important;
}
*/



.diagram-container .selected:not(text) {
    stroke: red  !important;
}

.grid, .grid .grid-canvas-container {
	width: 100%;
	height: 100%;
    box-sizing: border-box;
}
.grid .grid-canvas-container canvas {
	cursor: pointer;
}

.color-picker > * {
	display: inline-block;
}

.color-picker .wheel-container {
    position: absolute;
    transform: translate(-190px, 0px);
    box-shadow: -2px 2px 4px 0px #7777778c;
    background: white;
    padding: 10px;
    border-radius: 2px;
    border: solid thin silver;
	cursor: pointer;
}

.color-picker .wheel-container.collapsed {
	display: none;
}






.popup.popup-settings {
    max-height: 350px;
    min-width: 480px;
}

.popup.popup-settings .styles {
    margin: 15px 0px;
}

.popup.popup-layers {
    max-height: 665px;
    min-width: 405px;
}

.popup-settings button.image-button {
    height: 24px;
    width: 24px;
}

.popup.popup-settings .settings-group-label {
    margin: 15px 0px 10px 0px;
}

.popup.popup-settings .settings-group {
	margin-left: 15px;
}

.popup.popup-settings .settings-line {
	margin-top: 5px;
}

.popup.popup-settings .settings-value {
	margin-left: 5px;
	cursor: pointer;
}

.popup.popup-settings .settings-button-line {
	margin-top: 20px;
}

.popup.popup-settings .settings-title-container > * {
	vertical-align: middle;
	display: inline-block;
	margin: 0px 5px 0px 0px;
}

.popup.popup-settings button.settings-button {
	width: 140px;
}

.popup.popup-settings button.settings-button i {
	padding-left: 10px;
}

.popup.popup-settings input[type="number"] {
	width: 60px;
}

.popup.popup-settings input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.popup.popup-settings .settings-line > * {
	display: inline-block;
}

.popup.popup-settings label[for] {
	cursor: pointer;
}

.popup.popup-settings .settings-group-label {
    margin: 15px 0px 15px 0px;
}

.popup.popup-settings .settings-group {
	margin-left: 15px;
}

.popup.popup-settings .settings-line {
	margin-top: 5px;
}

.popup.popup-settings .settings-value {
	margin-left: 5px;
	cursor: pointer;
}

.popup.popup-settings .settings-button-line {
	margin-top: 20px;
}

.popup.popup-settings button.settings-button {
	width: 140px;
}

.popup.popup-settings button.settings-button i {
	padding-left: 10px;
}

.popup.popup-settings input[type="number"] {
	width: 60px;
}

.popup.popup-settings input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.popup.popup-settings .settings-line > * {
	display: inline-block;
}

.popup.popup-settings label[for] {
	cursor: pointer;
}

.popup.popup-settings .column-50 {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.popup.popup-settings table {
    width: 100%;
}

.popup.popup-settings table td {
	text-align: center;
}

.popup.popup-settings .settings-title-container select,
.popup.popup-settings table .grid-styles select,
.popup.popup-settings table .grid-z select {
    width: 50px;
}

.popup.popup-settings .styles-color button,
.popup.popup-settings button.image-button {
    padding: 0;
	background: none;
	border: none;
	display: inline-block
}

.popup.popup-settings button.image-button:not(:disabled):hover {
	background: none;
}

.popup.popup-settings button.image-button img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.popup.popup-settings table tr:only-child button.button-delete {
	display: none;
}

.popup.popup-settings table .select-ports {
    position: relative;	
}

.popup.popup-settings table .select-ports .select-ports-input {
    cursor: pointer;
    height: 30px;
    border-radius: 4px 4px 0px 0px;
}

.popup.popup-settings table .select-ports.collapsed .select-ports-input {
    border-radius: 4px;
}

.popup.popup-settings table .select-ports .select-ports-dropdown {
    border: solid thin silver;
    background: white;
	text-align: left;
    box-sizing: border-box;
    padding: 0px 6px;
}

.popup.popup-settings table .select-ports .select-ports-dropdown {
    position: absolute;
	list-style-type: none;
    margin: 0;
    z-index: 1000;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: -2px 2px 4px 0px #7777778c;
    border-top: none;
}

.popup.popup-settings table .select-ports.collapsed .select-ports-dropdown {
	display: none;
}

.popup.popup-settings table .select-ports .select-ports-dropdown .select-ports-dropdown-item {
	padding: 3px;
	cursor: pointer;
}

.popup.popup-layers .buttons-container {
	text-align: center;
}

.popup.popup-layers .buttons-container button {
	margin: 0px 10px;
}

.popup.popup-layers table .styles-start input,
.popup.popup-layers table .styles-end input {
    width: 125px;
}

.popup.popup-layers table .styles-color button {
	vertical-align: middle;
}

.popup.popup-layers .styles,
.popup.popup-layers .layers {
	overflow-x: hidden;
	overflow-y: auto;
}

.popup.popup-layers .layers {
	max-height: 150px;
}

.popup.popup-layers .styles .style {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
} 

.picker-container {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    background: white;
    box-shadow: -2px 2px 4px 0px #7777778c;
    border-radius: 2px;
}